{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    <div>
      <h3><small>Language</small></h3>
      {% for item in skills.language %}
      <strong>{{ item }}, </strong>
      {% endfor %}
    </div>

    <div>
      <h3><small>Framework & Library</small></h3>
      {% for item in skills.framework_library %}
      <strong>{{ item }}, </strong>
      {% endfor %}
    </div>

    <div>
      <h3><small>Other</small></h3>
      {% for item in skills.other %}
      <strong>{{ item }}, </strong>
      {% endfor %}
    </div>

  </div>

</section><!--//skills-section-->
{% endif %}
