{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    <div>
      <h3 class="skill-category">Language</h3>
      {% for item in skills.language %}
        {{ item }}{% unless forloop.last -%}, {% endunless -%}
      {% endfor %}
    </div>

    <div>
      <h3 class="skill-category">Framework & Library</h3>
      {% for item in skills.framework_library %}
      {{ item }}{% unless forloop.last -%}, {% endunless -%}
      {% endfor %}
    </div>

    <div>
      <h3 class="skill-category">And More</h3>
      {% for item in skills.other %}
      {{ item }}{% unless forloop.last -%}, {% endunless -%}
      {% endfor %}
    </div>

  </div>

</section><!--//skills-section-->
{% endif %}
